[Unit]
Description=wordpress docker compose stack
After=docker.service network-online.target

[Service]
Type=simple
Restart=always
RestartSec=1
User=admin
ExecStart=/usr/local/bin/docker-compose up -f /app/docker-compose.yaml -d 

[Install]
WantedBy=multi-user.target